<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel-customized">
      <div class="panel-heading panel-heading-customized">
        <h2 class="text-center">Contact info</h2>
      </div>
      <div class="panel-body panel-body-customized">
        <h5>About AvtoNet s.p.:</h5>
        <ul>
          <li>Firm location: Gosposka 5, 3000 Celje</li>
          <li>CEO: Mocivnik Iztok</li>
          <li>Firm Number: 2321321</li>
          <li>Id for Taxes: SI2345422</li>
        </ul>
        <h5>Contact us:</h5>
        <ul>
          <li>Email: mocivnik10@gmail.com</li>
          <li>Tel: +386 40 894 563</li>
          <li>Fax: +386 (0)5 2312 111</li>
        </ul>
      </div>
    </div>
  </div>
</div>
