// Design customized for bootstrap panel:
.panel-customized {
  border: none;
}

.panel-heading.panel-heading-customized {
  background: rgba(0, 0, 0, 0.9);
}

.panel-body.panel-body-customized {
  background: rgba(0, 0, 0, 0.4);
}
