// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome_container{
  margin-top: 50px;
}
.car_images_welcome {
  height: 150px;
  width: 250px;
}
.latest-title {
  margin-top: 0;
  margin-bottom: 20px;
}
.latest_cars_content {
  background: rgba(0, 0, 0, 0.7);
  padding: 7px;
}

.image_transform:hover {
  transform: scale(0.9);
}
