<h1>CARS</h1>

<% @cars.each do |car| %>
  <div class="car_panel">
    <h3><%= link_to "#{car.brand}, #{car.model}", car_path(car.id) %></h3>
      <ul>
        <li>Year: <%= car.year %></li>
        <li>Kilometers: <%= car.km %> km</li>
        <li>Fuel: <%= car.fuel %></li>
      </ul>
  </div>
<% end %>
